services:
  portfolio:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: renato-portfolio
    restart: always
    ports:
      - "3100:3100"
    environment:
      - NODE_ENV=production
    networks:
      - portfolio-network

networks:
  portfolio-network:
    driver: bridge
